/*  your css code here. If applicable */
#yellow {
	border-width: 1px;
   border-style: solid;
    border-color: green;
	background-color:yellow;
}
#red {
	 
	 border-width: 1px;
   border-style: solid;
    border-color: black;
	background-color:red;
	 
}
#green {
	background-color:green;
	  border-width: 1px;
   border-style: solid;
    border-color: green;
	 
}



	
